.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .modal-content {
    background: #F9FAFB;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .modal-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #9ca3af;
    outline: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.100) inset;
  }
  
  .modal-input::placeholder {
    color: #9ca3af;
  }
  
  .modal-button {
    background: #3B82F6;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 154px;
  }
  
  .modal-button svg {
    margin-right: 8px;
  }

  .modal-button:hover {
    background-color: #2563eb;
  }